html {
    background-color: #F5F5F5;
}

body {
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
}

.header, .main, .footer {
    width: 100%;
    display: flex;
}

.main, .footer {
    background-color: #FFFFFF;
}

.header {
    height: 134px;
    background-color: #EDF2EC;
}

.header, .footer {
    justify-content: center;
    align-items: center;
}

.main {
    height: 3048px;
    flex-direction: column;
}

.footer {
    height: 130px;
}